body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}

/* TYPOGRAPHY */

h1 {
  font-size: 2.5rem;
  font-weight: 400;
  text-shadow: 0 2px #816fca;
}

h2 {
  font-size: 2.25rem;
  margin: .167em 0;
}

p {
  font-size: 1.125rem;
  line-height: 1.35;
}

.beta-text {
  font-weight: 900;
}

.subheading {
  color: #575757;
  font-weight: 600;
  margin-bottom: .5em;
}

.beta-text,
.subheading {
  text-transform: uppercase;
}

/* INTRO */

.intro {
  color: #fff;
  background-color: #9480e4;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  min-height: 250px;
}

/* MAIN CONTENT */

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5em 2em 0;
}

.img-main {
  width: 120px;
  border-radius: 50%;
}


/* FORM */

/* MEDIA QUERIES */