body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}

/* TYPOGRAPHY */

h1 {
  font-weight: 400;
}

.beta-text {
  font-weight: 900;
}

.subheading {
  color: #575757;
  font-weight: 600;
}

/* INTRO */

.intro {
  color: #fff;
  background-color: #9480e4;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  min-height: 250px;
}

/* MAIN CONTENT */

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5em 2em 0;
}

.img-main {
  width: 120px;
  border-radius: 50%;
}


/* FORM */

/* MEDIA QUERIES */