body {
  font-family: 'Source Sans Pro', sans-serif;
}

/* TYPOGRAPHY */

h1 {
  font-weight: 400;
}

.beta-text {
  font-weight: 900;
}

.subheading {
  color: #575757;
}

/* INTRO */

.intro {
  color: #fff;
  background-color: #9480e4;
}

/* MAIN CONTENT */

/* FORM */

/* MEDIA QUERIES */