body {
  font-family: "Source Sans Pro", sans-serif;
  color: #404040;
  margin: 0;
}

/* TYPOGRAPHY */

h1 {
  font-size: 2.5rem;
  font-weight: 400;
  text-shadow: 0 2px #816fca;
}

h2 {
  font-size: 2.25rem;
  margin: 0.167em 0;
}

p {
  font-size: 1.125rem;
  line-height: 1.35;
}

.beta-text {
  font-weight: 900;
}

.subheading {
  color: #575757;
  font-weight: 600;
  margin-bottom: 0.5em;
}

.beta-text,
.subheading {
  text-transform: uppercase;
}

.intro,
.main-content {
  display: flex;
  flex-direction: column;
  padding: 2.5em 2em 0;
}

/* INTRO */

.intro {
  color: #fff;
  background: #816fca url(./images/intro-bg.png);
  background-size: cover;
  text-align: center;
  justify-content: center;
  min-height: 250px;
}

/* MAIN CONTENT */

.main-content {
  align-items: center;
}

.img-main {
  width: 120px;
  border-radius: 50%;
}

/* FORM */

/* MEDIA QUERIES */

@media (min-width: 576px) {
  body {
    display: flex;
  }

  .intro,
  .main-content {
    flex: 1;
  }

  .intro {
    min-height: 100vh;
  }

  .main-content {
    justify-content: center;
    padding-top: 0;
  }

  h1 {
    font-size: 5vw;
  }

  h2 {
    font-size: 2.625rem;
  }

  .beta-text {
    font-size: 1.25rem;
  }
}
