*, *::before, *::after {
    box-sizing: border-box;    
}

body {
  font-family: "Source Sans Pro", sans-serif;
  color: #404040;
  margin: 0;
}

/* TYPOGRAPHY */

h1 {
  font-size: 2.5rem;
  font-weight: 400;
  text-shadow: 0 2px #816fca;
  order: 2;
}

h2 {
  font-size: 2.25rem;
  margin: 0.167em 0;
}

p {
  font-size: 1.125rem;
  line-height: 1.35;
}

.beta-text {
  font-weight: 900;
  order: 3;
}

.subheading {
  color: #575757;
  font-weight: 600;
  margin-bottom: 0.5em;
}

.beta-text,
.top-text,
.subheading {
  text-transform: uppercase;
}

.top-text {
  font-size: .875rem;
  font-weight: 900;
  padding: .25em 0;
  border-top: 5px solid;
  order: 1;
  margin: 0 auto 1em;
  width: fit-content;
}

.fine-print {
  font-size: 0.75rem;
  letter-spacing: 1px;
  color: #858585;
}

.intro,
.main-content {
  display: flex;
  flex-direction: column;
  padding: 0 2em;
}

/* INTRO */

.intro {
  color: #fff;
  background: #816fca url(./images/intro-bg.png);
  background-size: cover;
  text-align: center;
  justify-content: space-between;
  min-height: 250px;
}

/* MAIN CONTENT */

.main-content {
  align-items: center;
  padding-top: 2.5em;
}

.img-main {
  width: 120px;
  border-radius: 50%;
}

.main-content p,
form {
  max-width: 450px;
}

/* FORM */

input,
button {
  font-family: inherit;
  width: 100%;
  border-radius: 5px;
}

input {
  margin-bottom: 0.75em;
  border: 2px solid #d1d5db;
  padding: 0.5em;
}

input:focus {
  outline: none;
  border-radius: #8a71ec;
  background-color: #e6e8ec;
}

.btn {
  padding: 1em 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.btn-primary {
  background-color: #8a71ec;
  color: white;
  margin-top: 1em;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #b7a7f6;
}

/* MEDIA QUERIES */

@media (min-width: 576px) {
  body {
    display: flex;
  }

  h1 {
    font-size: 5vw;
  }

  h2 {
    font-size: 2.625rem;
  }

  .beta-text {
    font-size: 1.25rem;
  }

  .intro,
  .main-content {
    flex: 1;
  }

  .intro {
    min-height: 100vh;
  }

  .main-content {
    justify-content: center;
    padding-top: 0;
  }
}
